 body {
  background-image: url('https://wallpapers.com/images/hd/design-black-background-1920-x-1080-o3yd8dvwst5nrom1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0 10%;
  text-align: left;
}

h1, h2, h3 {
  text-shadow: 1px 1px 4px white;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto 30px auto; 
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: large;
  width: fit-content; 
}



nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  
}

section, article {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;

}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
